.heading1_events {
    text-align: center;
    margin-top: 4%;
    font-size: 2.5rem;
}
.events_style1, .events_style2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
}
.last_article_events {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1.6%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
}
.last_article_events p{
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 4%;
}
.events_container{
    margin: 2% 8%;
    padding: 3.2%;
    gap: 9.6%;
    position: relative;
    display: flex;
}
.online_article_container {
    margin: 2% 8%;
    padding: 3.2%;
    gap: 14.6%;
    position: relative;
    display: flex;
}
.events_container img, .online_article_container img{
    object-fit: cover;
}
.separator_events_page {
    padding-top: 0.5%;
    margin: 3.2% 11% 3.2% 11%;
}
.events_bottom_images{
    margin: 2% 8%;
    padding: 3.2%;
    margin-top: 0%;
    margin-bottom: 5%;
    position: relative;
    display: flex;
}
.events_bottom_images img{
    object-fit: cover;
    height: 40vh;
    flex-grow: 1;
}

/* MEDIA CSS RULES */
@media screen and (max-width: 1200px) {
    .events_container,
    .online_article_container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 1000px) {
    .events_style1,
    .events_style2, .last_article_events {
        font-size: 2rem;
    }
    .events_bottom_images{
        max-width: 100%;
        margin: unset;
        padding: unset;
        flex-direction: column;
    }
    .events_bottom_images img{
        height: unset;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .heading1_events {
        font-size: 2rem;
    }
    .events_container img,
    .online_article_container img {
        width: 78vw;
    }
    .events_style1,
    .events_style2,
    .last_article_events {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 500px) {
    .heading1_events {
            text-align: center;
            margin-top: 4%;
            font-size: 2rem;
        }
    .events_container img,.online_article_container img {
        object-fit: cover;
        width: 77vw;
    }
    .events_style1,.last_article_events p,
    .events_style2 {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 343px) {
    .heading1_events, .last_article_events h3 {
        font-size: 1.3rem;
    }
    .events_style1,
    .last_article_events p,
    .events_style2 {
        font-size: 1.2rem;
    }
}
