.heading1_center {
    text-align: center;
    margin-top: 4%;
    font-size: 2.5rem;
}
.heart_and_teeth_container{
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0% 17%;
}
.heart_and_teeth_container img{
    object-fit: cover;
    width: 50%;
}
.separator_explore{
    padding-top: 0.5%;
    margin: 3% 17% 3% 17%;
}
.secondheading_1_explore_page{
    text-align: center;
    margin-top: 3.2%;
}
.thirdheading_1_explore_page{
    text-align: center;
    margin-top: 3.2%;
    font-size: 1.5rem;
}
.first_paragraph_explore_page {
    padding: 0% 17%;
}
.last_paragraph_explore_page{
    padding: 0% 30%;
}
.bottom_images_explore{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.2%;
}
.bottom_images_explore img{
    object-fit: cover;
    max-height: 350px;
    border: 2px solid #2f2b2b;
}


@media screen and (max-width: 1200px) {
    .bottom_images_explore{
        flex-direction: column;
    }
    .bottom_images_explore img {  
        width: 70%;
    }
}
@media screen and (max-width: 1300px){
    .bottom_images_explore img {
        max-height: 336px;
        border: 2px solid rgb(47, 43, 43);
    }
}

@media screen and (max-width: 1000px){
    .secondheading_1_explore_page{
        font-size: 2rem;
    }
    .thirdheading_1_explore_page {
        font-size: 2.3rem;
    }
}

@media screen and (max-width: 600px) {
    .heading1_center {
        font-size: 2rem;
    }
}

@media screen and (max-width: 500px) {
    .heading1_center {   
        font-size: 2rem;
    }
    .secondheading_1_explore_page, .thirdheading_1_explore_page {
        font-size: 1.5rem;
    }             
}

