#second_heading1_programs{
    text-align: center;
    font-size: 2rem;
}
.open_hours_container{
    background: rgba(46, 178, 51, 0.16);
    border-radius: 3em;
    margin: 3% 15%;
    padding: 2%;
    gap: 25%;
    position: relative;
}
.left-div, .right-div{
    margin-top: 0%;
}
.left-div ul{
    list-style: none;
    white-space: nowrap;
}
.working_hours, .guided_tour_container, .meetups_article
,.article_style_a p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
}

.article_style_a h2 {
    font-size: 2rem;
}

.article_style_a {
    margin-top: 1.6%;
    padding-right: 2%;
}

.guided_tour_container,.meetups_article{
    padding: 12%;
}
.right-div p{
    text-align: center;
}
.blackseparator3{
    padding-top: 0.5%;
    margin-left: 16%;
    margin-right: 16%;
    margin-top: 0%;
}
.heading_three_v1{
    text-align: center;
    margin-top: 2%;
    font-size: 2rem;
    margin-bottom: 1%;
}
.museum_program_images_p1{
    margin: 2% 15% 3%;
}
.museum_program_images_p1 img{
    object-fit: cover;
    max-height: 443px;
}
.testimonials_container{
    display: flex;
    justify-content: center;
    gap: 4%;
    margin-bottom: 5%;
}
.testimony1,.testimony2,.testimony3{
    max-width: 20%;
}
.testimony-text{
    font-weight: 600;
    font-size: 1.3rem;
}

.free-admin-heading{
    text-align: center;
    margin-top: 4%;
}
.heading1_center{
    font-size: 2.5rem;
}


@media screen and (max-width: 1280px){
    .museum_program_images_p1{
        flex-direction: column;
    }
}
@media screen and (max-width: 1000px) {
    .open_hours_container{
        margin: 3% 3%;
    }
    .museum_program_images_p1{
        display: flex;
        flex-direction: column;  
    }

    .testimony>div {
        height: 20vh;
    }
}

@media screen and (max-width: 500px) {


    .museum_program_images_p1 img{
        width: 100%;
    }

    .open_hours_container{
        border-radius: 2rem;
    }
    .open_hours_container>.center-items{
        flex-direction: column;
    }
    
    .testimonials_container{
        flex-direction: column;
        padding: 4%;
        text-align: center;
    }

    .testimonials_container .testimony{
        max-width: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100% !important;
        margin-top: 7%;
    }

    ul.working_hours{
        padding: unset;
    }

    .guided_tour_container,
    .meetups_article{
        padding: 3%;
        font-size: 1.5rem;
        padding-bottom: 10%;
    }

}
@media screen and (max-width: 600px) {
    .open_hours_container {
        border-radius: 2rem;
    }
    .open_hours_container>.center-items {
        flex-direction: column;
    }
    .museum_program_images_p1 img {
        width: 70vw;
    }

    .testimonials_container {
        flex-direction: column;
        padding: 4%;
        text-align: center;
    }

    .testimonials_container .testimony {
        max-width: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100% !important;
        margin-top: 7%;
    }
}
@media screen and (max-width: 308px){
    .working_hours,
    .guided_tour_container,
    .meetups_article,
    .article_style_a p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 1.2rem;
    }
    
    .testimony>img {
        height: 17vh;
        margin-top: 4%;
    }
}
