.heading2_visit_page{
    padding-left: 8%;
    font-size: 2em;
}
.first_paragraph_visit_page {
    padding: 0% 8%;
}
.separator_visit_page {
    padding-top: 0.5%;
        margin: 3.2% 8.4% 0% 7.4%;
}
.food_article_container,.wheel_chair_container,.google_map_container{
    margin: 2% 7%;
    padding: 1.6% 11.2% 3.2% 0%;
    gap: 6.4%;
    position: relative;
}
.food_article_container img,.wheel_chair_container img{
    max-width: 100%;
    width: 20.83vw;
    object-fit: contain;
    display: block;
}
iframe{
    max-width: 100%;
    width: 26vw;
    height: 20vh;
    object-fit: contain;
    display: block;
}
.heading1_visit{
    font-size: 3rem;
    text-align: center;
}

@media screen and (max-width: 1000px){
    .card iframe, .card img{
        width: 300px;
        height: 300px;
        object-fit: cover;
        max-width: unset;
    }
}

@media screen and (max-width: 1000px) {

    .card iframe,
    .card {
        display: flex;
        flex-direction: column;
    }

    .card iframe,
    .card img {
        width: 100%;
    }
}